# Rutas
# =====================================================================
BASE_FOLDER=<path_to_project>/ar_proyecto_grupal_02
IMG_FOLDER=<path_to_project>/ar_proyecto_grupal_02/img
WEIGHTS_FOLDER=<path_to_project>/ar_proyecto_grupal_02/weights

# Reproducibilidad
# =====================================================================
SEED=42