# Rutas
# =====================================================================
BASE_FOLDER=<path_to_project>/ar_proyecto_grupal_02
IMG_FOLDER=<path_to_project>/ar_proyecto_grupal_02/img
DATA_FOLDER=<path_to_project>/ar_proyecto_grupal_02/data
MODEL_FOLDER=<path_to_project>/ar_proyecto_grupal_02/model

# Reproducibilidad
# =====================================================================
SEED=42